#contact{
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    margin: 0;
    padding-top: 80px;
    padding-bottom: 40px;
}

.getInTouch{
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  border-radius: 5px;
  margin-bottom: 3rem; 
  position: relative;
  padding: 0 0 20px;
}

.getInTouch::after{
  background-color: #00FFFF;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 100px;
}


button{
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#00FFFF 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  height: 45px;
  width: 40%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 900;
}


.contact_container{
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12rem;
}

.contact_options{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact_option{
  background: #00FFFF;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid rgb(216, 199, 199);
  transition: all 400ms ease-in-out;
  
}

.contact_option-phone{
  display: none;
}

.contact_option:hover{
  border-color: #00FFFF;
  background: gray;
}

.contact_option a{
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  margin-top: 0.6rem;
  display: inline-block;
  font-size: 1.2rem;
}

.contact_option h4{
  color: #000000;
  font-weight: 900;

}

.contact_option h5{
  color: #000000;
  font-weight: 500;

}
 
.contact_option img{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* form */

form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

 .formName, .formEmail, .formMessage{
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #00FFFF;
  resize: none;
  color: #000000;
  font-weight: 900;
}
 


@media screen and (max-width: 768px) {

  .contact_container{
    grid-template-columns: 1fr;
    gap: 2rem;
    
  }
  
  .formName, .formEmail, .formMessage{
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #00FFFF;
    resize: none;
    color: #000000;
    font-weight: 900;
  }
   
  .getInTouch{
    margin-bottom: 20px;  
}

.contact_option-phone{
  display: block;
  background: #00FFFF;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid rgb(216, 199, 199);
  transition: all 400ms ease-in-out;
  
}

.contact_option:hover{
  border-color: #00FFFF;
  background: gray;
}

.contact_option-phone a{
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  margin-top: 0.6rem;
  display: inline-block;
  font-size: 1.2rem;
}

.contact_option-phone h4{
  color: #000000;
  font-weight: 900;

}

.contact_option-phone h5{
  color: #000000;
  font-weight: 500;

}
 
.contact_option-phone img{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}





}


  
@media (max-width: 420px) {

  .contact_container{
    width: 20%;

  }


  form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-left: 80px;
 
  }
  
  
  .formName, .formEmail, .formMessage{
    width: 70%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 2px solid #00FFFF;
    resize: none;
    color: #000000;
    font-weight: 900;
    margin-top: 10px;
   
  }
  
  .getInTouch{
    color: white;
    font-size: 20px;
    font-weight: 800;
 
  }

  .getInTouch::after{

    background-color: #00FFFF;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
  
  }


button{
  width: 50%;
  text-align: center;
  font-size: 12px;
  margin-left: 20px;

}

.contact_option-phone{
  display: block;
  background: #00FFFF;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid rgb(216, 199, 199);
  transition: all 400ms ease-in-out;
  
}

.contact_option:hover{
  border-color: #00FFFF;
  background: gray;
}

.contact_option-phone a{
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  margin-top: 0.6rem;
  display: inline-block;
  font-size: 1.2rem;
}

.contact_option-phone h4{
  color: #000000;
  font-weight: 900;

}

.contact_option-phone h5{
  color: #000000;
  font-weight: 500;

}
 
.contact_option-phone img{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact_option-phone:hover{
  border-color: #00FFFF;
  background: gray;
}


}